.nav-wrapper img {
    margin-top: -15px;

}

.slider h3,
.slider h5, {
	text-shadow: 1px 1px 5px rgba(0,0,0,0.5);

}



.tentang {
 padding-top: 10px;
}

.tentang h3 {
    margin-top: -10px;
    padding-top: 10px;
}

.tentang img {
    max-width: 145px;
    height: 170px;
    filter: drop-shadow(1px 1px 5p rgba(0,0,0,0.8));
    margin: 10px auto;
    border-top-right-radius: 30px;
}

.beranda h3 {
     margin-top: -10px;
    padding-top: 10px;
}

.galery h3 {
	margin-top: 20px;
    padding-top: 10px;
    
}

strong .seminar {
    border-radius: 30px;
}

.parallax-container {
    height: 240px;
    padding-top: 31px;

}

.kegiatan h3 {
    padding-top: 20px;
}

.carousel {
    height: 606px !important;
}

.contact h3 {
	padding-top: 20px;
}

.materialert .close-alert{
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 22px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    filter: alpha(opacity=40);
    margin-bottom: -5px;
    position: absolute;
    top: 16px;
    right: 5px;
}

.materialert{
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.materialert .material-icons{
    margin-right: 10px;
}




























