.slider h3,
.slider h5,
.biografi h1 {
	text-shadow: 5px 5px 10px rgba (0,0,0,0.5);
}



.biografi, {
	padding: 60px;
	height: 100px;

}
.
.biografi-container {
	height: 500px;
	
}
.biografi h3 {
	padding-top: 20px;
}
.biografi {
	
	height: 500px%
}

.parallax-container {
	height: 20%;
}

.parallax img {
	width: 100%
	filter: grayscale(5);
	opacity: 0.5 !important;
}

.tentangkami img {
	max-width: 145px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,1));

}
.roomtour {
	padding-top: 10px;
}


.nav-wrapper img {
	margin-top: -15px;

}
.contact {
	padding-top: 10px;
}

/*navigasi*/
.next 



























