.slider h3,
.slider h5,
.biografi h1 {
	text-shadow: 5px 5px 10px rgba (0,0,0,0.5);
}
.slider img {
	height: 10px;
}
.biografi, {
	padding: 60px;
	height: 100px;

}
.
.biografi-container {
	height: 500px;
	padding: 60px;
}
.biografi h3 {
	padding-top: 20px;
}
.biografi {
	padding: 97px;
	height: 500px%
}

.parallax-container {
	height: 580px;
}

.parallax img {
	filter: grayscale(1);
	opacity: 0.5 !important;
}

.tentangkami img {
	max-width: 145px;
	filter: drop-shadow(1px 1px 1px rgba(0,0,0,1));

}
.roomtour {
	padding-top: 10px;
}


.nav-wrapper img {
	margin-top: -10px;

}
.contact {
	padding-top: 10px;
}